# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Debug Information
*.dSYM

# Executables
*.exe
*.out
*.app

# Actual Project Executables

# Created by https://www.gitignore.io/api/cmake

### CMake ###
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
build*


# End of https://www.gitignore.io/api/cmake

# Expected test results
!test-high/expected/*.out
